:root {
    --blanco: #ffffff;
    --resaltado: #e9e6e6;
    --ócuro:#212121;
    --primario:rgba(255,193,7,1);
    --botones:#0097a7;
    --gris:#757575;

    --fuente-principal:3.8rem;

}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html {
    font-size: 62.5%;
}

body{
    font-size: 16px;/* 10px= 1 rem*/
    font-family: 'Krub', sans-serif;
}


h1 {
    font-size: 1.5rem;
    font-weight: 700;
    
}
h1 span {
    font-size: 3rem ; 
    font-weight: 700;
}



#cabecera {
    text-align: center;
   background-color: var(--primario);
    color: var(--ócuro);
   border: 1 px solid var(--primario);
   padding-top: 2rem;
   
    
    
    border-radius: 10px;
}
#cabecera h1{
    display: flex;
    
    

}
#cabecera h1 img{
    width: 200px;
    
    border-radius: 15%;
    display: flex;
    
}
#navegacion {
    display: flex;
    flex-direction: row;
    justify-content:space-between;   
    background-color: var(--botones);
    border-radius : 10px;
}
#navegacion a{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    font-weight: 700;
}